    <h1>This is an example of a has_and_belongs_to_many relationship in Rails 4</h1>
    <div class="well">
    <p>This Halloween inspired demo illustrates the relationships between kids who have many different candies and candies that are given out to many different kids.</p>
    <p>
    	<ul>
    		<li><a href="/kids">View Kids</a></li>
    		<li><a href="/candies">View Candies</a></li>
        <li><a href="/instructions">View Instructions</a></li>
    	</ul>
    </p>
    <p>You can also visit the <a href="https://github.com/britneywright/habtm">Github repo</a> to view all of the source code.</p>
</div>
