$iconSpritePath: url('/assets/glyphicons-halflings.png');
$iconWhiteSpritePath: url('/assets/glyphicons-halflings-white.png');

@import "bootstrap";


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: #c96e09;
}

/* table */

th, td {
  padding-bottom: 20px;
  padding-left: 10px;
}

/* form */

input {
  margin-bottom: 20px;
  margin-top: 20px;
}

button, input {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;  
}

input[type="checkbox"] {
  margin: 4px 5px 0;
}